Package: com.andyibanez.Cydeswitch
Name: Cydeswitch
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Control your device's ringer switch to do whatever you want.
Maintainer: Leonnears
Author: Leonnears
Section: Tweaks
