Package: com.andyibanez.SideSwitch
Name: SideSwitch
Depends: mobilesubstrate
Version: 1.0.1-4
Architecture: iphoneos-arm
Description: Control your device's ringer switch to do whatever you want.
Maintainer: Andy Ibanez
Author: Andy Ibanez
Section: Tweaks
Installed-Size: 64
